*{
    margin:0;
    padding:0;
    font-family:"Poppins",sans-serif;
}

.section{
    width: 100%;
    min-height: 100vh;
    background-image: url(sky.jpg);
}

.section .container{
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 100px;
}


.content-section{
    float: left;
    width: 50%;
}

.image-selection{
    float: right;
    width: 50%;
}

.image-section img{
    width: 100%;
    height: auto;
}

.content-section .title{
    text-align: center;
    font-size: 35px;
    color: aliceblue;
}

.content-section .content{
    text-align: center;
    font-size: 20px;
    color: azure;
}

.content-section .button{
    text-align: center;
    font-size: 30px;
    color: rgb(238, 210, 176);
}

.content-section .button a{
    background-color:bisque
    padding: 10px 40px;
    color: antiquewhite;
    font-size: 15px;
}